<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keyNetworkEnvironmentDevelop</key>
	<string>http://www.baidu.com</string>
	<key>keyNetworkEnvironmentPublic</key>
	<string>http://www.hao123.com</string>
	<key>keyNetworkEnvironmentOhter</key>
	<dict>
		<key>百度</key>
		<string>http://www.baidu.com</string>
		<key>谷歌</key>
		<string>http://www.google.com</string>
		<key>搜狗</key>
		<string>http://www.sogou.com</string>
	</dict>
	<key>keyNetworkEnvironment</key>
	<string>0</string>
</dict>
</plist>
